### 판다스 실습(1)

In [2]:
import pandas as pd

In [5]:
# 1
list1 = [10,20,30,40,50]
ans1 = pd.Series(list1)
print(type(ans1))
print(ans1)

<class 'pandas.core.series.Series'>
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [7]:
# 2
dic2 = {'a':1, 'b':2, 'c':3, 'd':4, 'e':5} # 딕셔너리 만들기 {key:value}
ans2 = pd.Series(dic2)
print(type(ans2))
print(ans2)

<class 'pandas.core.series.Series'>
a    1
b    2
c    3
d    4
e    5
dtype: int64

In [8]:
# 3
dic3 = {'학생1': '둘리', '학생2':'또치', '학생3':'도우너', '학생4': '희동이', '학생5': '마이콜'}
ans3 = pd.Series(dic3)
print(type(ans3))
print(ans3)

<class 'pandas.core.series.Series'>
학생1     둘리
학생2     또치
학생3    도우너
학생4    희동이
학생5    마이콜
dtype: object

In [11]:
# 4
st_list = ['학생1', '학생2', '학생3', '학생4', '학생5']
name_list = ['둘리', '또치', '도우너', '희동이', '마이콜']

ans4 = pd.Series(name_list)
ans4.index = st_list
print(type(ans4))
print(ans4)

<class 'pandas.core.series.Series'>
학생1     둘리
학생2     또치
학생3    도우너
학생4    희동이
학생5    마이콜
dtype: object

In [27]:
# 5
blood = ['A형', 'B형', 'O형', 'AB형']
st = [34.2, 27.1, 26.7, 11.5]
sr = pd.Series(st, index=blood)
print('[시리즈 sr 출력]')
print(sr)
print('----------------------------------------------------------')
print('[시리즈 sr에서 인덱싱과 슬라이싱하여 출력(숫자인덱스 사용)]') # print(~~, sep='\n') 도 가능
print(sr[0])
print(sr[3])
print(sr[1])
print(sr[1:4])
print('-------------------------------------------------------------')
print('[시리즈 sr에서 인덱싱과 슬라이싱하여 출력(이름인덱스 사용)]')
print(sr['A형'])
print(sr['AB형'])
print(sr['B형'])
print(sr['B형':'AB형'])
print('-------------------------------------------------------------')
print('[시리즈 sr의 크기 출력]')
print(len(sr)) 
print('-------------------------------------------------------------')
print('[시리즈 sr의 인덱스 출력]')
print(sr.index)
print('-------------------------------------------------------------')
print('[시리즈 sr의 데이터값 출력]')
print(sr.values)

[시리즈 sr 출력]
A형     34.2
B형     27.1
O형     26.7
AB형    11.5
dtype: float64
----------------------------------------------------------
[시리즈 sr에서 인덱싱과 슬라이싱하여 출력(숫자인덱스 사용)]
34.2
11.5
27.1
B형     27.1
O형     26.7
AB형    11.5
dtype: float64
-------------------------------------------------------------
[시리즈 sr에서 인덱싱과 슬라이싱하여 출력(이름인덱스 사용)]
34.2
11.5
27.1
B형     27.1
O형     26.7
AB형    11.5
dtype: float64
-------------------------------------------------------------
[시리즈 sr의 크기 출력]
4
-------------------------------------------------------------
[시리즈 sr의 인덱스 출력]
Index(['A형', 'B형', 'O형', 'AB형'], dtype='object')
-------------------------------------------------------------
[시리즈 sr의 데이터값 출력]
[34.2 27.1 26.7 11.5]

In [30]:
# 6

dic6 = {'name': ['둘리', '또치', '도우너', '희동이'], 'kor':[90,80,70,70], 'eng':[99,98,97,46], 'mat':[90,70,70,60]}
df6 = pd.DataFrame(dic6)
print(type(df6))
print(df6)

<class 'pandas.core.frame.DataFrame'>
  name  kor  eng  mat
0   둘리   90   99   90
1   또치   80   98   70
2  도우너   70   97   70
3  희동이   70   46   60

In [33]:
# 7
df7 = pd.DataFrame([['둘리', 90, 99, 90], ['또치', 80, 98, 70], ['도우너', 70, 97, 70], ['희동이', 70, 46, 60]], # 대괄호 2개 주의!
                  index=['학생1', '학생2', '학생3', '학생4'], columns=['name', 'kor', 'eng', 'mat'])
print(type(df7))
print(df7)

<class 'pandas.core.frame.DataFrame'>
    name  kor  eng  mat
학생1   둘리   90   99   90
학생2   또치   80   98   70
학생3  도우너   70   97   70
학생4  희동이   70   46   60

In [34]:
# 8
df7.index=['st1', 'st2', 'st3', 'st4']
df7.columns=['dooly', 'doochi', 'dounar', 'heedong']
print(df7)

    dooly  doochi  dounar  heedong
st1    둘리      90      99       90
st2    또치      80      98       70
st3   도우너      70      97       70
st4   희동이      70      46       60

In [68]:
# 9
data = {
    'name':['듀크1', '듀크2', '듀크3', '듀크4', '듀크5', 
           '듀크6', '듀크7'],
    'kor':[90, 80, 70, 70, 60, 70, 90],
    'eng':[99, 98, 97, 46, 77, 56, 90],
    'mat':[90, 70, 70, 60, 88, 99, 90],
}
df = pd.DataFrame(data)  

print(df.iloc[:5]) # df.head()
print(df.iloc[2:7]) # df.tail()
print(df.columns)
print(df['name'])
print(df.eng)
print(df[['kor', 'mat']]) # 대괄호 2개 주의 
print('-----------iloc 함수 사용 -----------')
print(df.iloc[3])
print(df.iloc[0][0])
print(df.iloc[3,2])
print(df.iloc[2:4,2])
print(df.iloc[2:4,2:4])
print('------------loc 함수 사용-----------') # 이름 인덱스! 지금은 이름이 숫자로 되어있음 
print(df.loc[3])
print(df.loc[0][0])
print(df.loc[3][2])
print(df.loc[2:3,'eng']) # 이름으로 간주해서 3번째가 포함됨
print(df.loc[2:3, 'eng':'mat'])

  name  kor  eng  mat
0  듀크1   90   99   90
1  듀크2   80   98   70
2  듀크3   70   97   70
3  듀크4   70   46   60
4  듀크5   60   77   88
  name  kor  eng  mat
2  듀크3   70   97   70
3  듀크4   70   46   60
4  듀크5   60   77   88
5  듀크6   70   56   99
6  듀크7   90   90   90
Index(['name', 'kor', 'eng', 'mat'], dtype='object')
0    듀크1
1    듀크2
2    듀크3
3    듀크4
4    듀크5
5    듀크6
6    듀크7
Name: name, dtype: object
0    99
1    98
2    97
3    46
4    77
5    56
6    90
Name: eng, dtype: int64
   kor  mat
0   90   90
1   80   70
2   70   70
3   70   60
4   60   88
5   70   99
6   90   90
-----------iloc 함수 사용 -----------
name    듀크4
kor      70
eng      46
mat      60
Name: 3, dtype: object
듀크1
46
2    97
3    46
Name: eng, dtype: int64
   eng  mat
2   97   70
3   46   60
------------loc 함수 사용-----------
name    듀크4
kor      70
eng      46
mat      60
Name: 3, dtype: object
듀크1
46
2    97
3    46
Name: eng, dtype: int64
   eng  mat
2   97   70
3   46   60

In [72]:
# 10
df.set_index('name', inplace = True)
print(df)

      kor  eng  mat
name
듀크1    90   99   90
듀크2    80   98   70
듀크3    70   97   70
듀크4    70   46   60
듀크5    60   77   88
듀크6    70   56   99
듀크7    90   90   90